In [1]:
import sqlite3

conn = sqlite3.connect("coffee.db")
print("Database 생성 및 연결")

Database 생성 및 연결

In [2]:
conn.execute('''
    CREATE TABLE users (
        id      INT      PRIMARY KEY NOT NULL,
        name    TEXT    NOT NULL
    )
''')

print("테이블이 생성되었습니다")

테이블이 생성되었습니다

In [3]:
conn.execute('''
    INSERT INTO users (id, name)
    VALUES (1, "김철수")
''')

conn.execute('''
    INSERT INTO users (id, name)
    VALUES (2, "이영희")
''')

conn.execute('''
    INSERT INTO users (id, name)
    VALUES (3, "이동국")
''')

conn.execute('''
    INSERT INTO users (id, name)
    VALUES (4, "안정환")
''')

conn.commit()

In [11]:
cursor = conn.execute('''
    SELECT * FROM USERS
''')

In [12]:
type(cursor)

sqlite3.Cursor

In [13]:
for row in cursor:
    print(row, type(row))

(1, '김철수') <class 'tuple'>
(2, '이영희') <class 'tuple'>
(3, '이동국') <class 'tuple'>
(4, '안정환') <class 'tuple'>

In [14]:
cursor = conn.execute('''
    SELECT ID FROM USERS
''')

In [15]:
for row in cursor:
    print(row)

(1,)
(2,)
(3,)
(4,)

In [17]:
cursor = conn.execute('''
    SELECT name FROM USERS
''')

In [18]:
for row in cursor:
    print(row)

('김철수',)
('이영희',)
('이동국',)
('안정환',)

In [22]:
conn.execute('''
    DELETE FROM USERS WHERE ID = 4
''')

conn.commit()

In [21]:
cursor = conn.execute('''
    SELECT * FROM USERS
''')
for row in cursor:
    print(row)

(1, '김철수')
(2, '이영희')
(3, '이동국')

In [23]:
conn.execute('''
    DELETE FROM USERS 
    WHERE ID > 1
''')

cursor = conn.execute('''
    SELECT * FROM USERS
''')

for row in cursor:
    print(row)

(1, '김철수')

In [4]:
conn.execute('''
    UPDATE USERS
    SET NAME = "이강인"
    WHERE ID = 2
''')
conn.commit()

cursor = conn.execute('''
    SELECT * FROM USERS
''')

for row in cursor:
    print(row)

(1, '김철수')
(2, '이강인')
(3, '이동국')
(4, '안정환')